<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="content-language" content="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script type="module">
  import latexjs from "https://cdn.jsdelivr.net/npm/latex.js/dist/latex.component.esm.js"
  customElements.define('latex-js', latexjs)
  </script>

  <style>
      .h3 {
          text-align: center;
          margin-bottom: 2rem;
      }
      .wrapper {
          display: flex;
          flex-direction: row;
          justify-content: center;
      }
      .eqs {
          display: flex;
          justify-content: center;
          width: 20%;
          height: 60%;
          margin-top: 2rem;
      }

      latex-js {
        width: 70%;
        border: 1px solid black;
        margin-right: 2em;
          margin-top: 2rem;
    }
  </style>

  <title>LaTeX.js Web Component Test</title>
</head>

<body>
  <div class="wrapper">
      <div class="eqs">
      <ul>
        {% for name in names %}
            <li><a href="{{ name }}">Выражение {{ name }}</a></li>
        {% endfor %}
      </ul>
      </div>
  <latex-js>
    \documentclass{article}

    \usepackage{comment, multicol}
    \usepackage{hyperref}

    \usepackage{calc,pict2e,picture}
    \usepackage{textgreek,textcomp,gensymb,stix}

    \setcounter{secnumdepth}{2}

    \title{\LaTeX}
    % \author{$\varheartsuit$ by AlexeyZhuchkov}

    \begin{document}

    \maketitle
      {% for item in data %}
          Описание: {{ item.description }}

          Создано: {{ item.str_saved_time_ago }} ({{ item.str_when_saved }})

          Выражение: $$ {{ item.latex }} $$
      {% endfor %}
    \end{document}
  </latex-js>
  </div>

</body>

</html>
