<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="content-language" content="en">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script type="module">
  import latexjs from "https://cdn.jsdelivr.net/npm/latex.js/dist/latex.component.esm.js"
  customElements.define('latex-js', latexjs)
  </script>

  <style>

      .wrapper {
          display: flex;
          flex-direction: row;
          justify-content: center;
      }
      .eqs {
          width: 20%;
          height: 60%;
          border: 1px solid black;
      }

      latex-js {
        width: 70%;
        border: 1px solid black;
        margin-right: 2em;
    }
  </style>

  <title>LaTeX.js Web Component Test</title>
</head>

<body>
  <h1></h1>
  <div class="wrapper">
      <div class="eqs">

      </div>
  <latex-js>
    \documentclass{article}

    \usepackage{comment, multicol}
    \usepackage{hyperref}

    \usepackage{calc,pict2e,picture}
    \usepackage{textgreek,textcomp,gensymb,stix}

    \setcounter{secnumdepth}{2}

    \title{\LaTeX}
    % \author{$\varheartsuit$ by AlexeyZhuchkov}

    \begin{document}

    \maketitle
      {% for item in data %}
          {{ item.description }}

          {{ item.str_saved_time_ago }} ({{ item.str_when_saved }})

          $$ {{ item.latex }} $$
      {% endfor %}
    \end{document}
  </latex-js>
  </div>

</body>

</html>
